@using SignalR_CRUD.Components;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a class="nav-link text-dark" href="javascript:void(0);" onclick="navigateToCreateProduct()">Create Product</a>

<script>
    function navigateToCreateProduct() {
        // Sử dụng JavaScript để chuyển hướng mà không làm tải lại trang
        window.location.href = '/createproduct';
    }
</script>

<div class="row shadow-sm p-3">
    <div class="col-md-6">
        @(await Html.RenderComponentAsync<ProductComponent>(RenderMode.Server))
    </div>
  @*   <div class="col-md-6">

        @(await Html.RenderComponentAsync<Counter>(RenderMode.Server))
    </div> *@
</div>
