################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SignalR_CRUD/FileContentIndex/52ec32f2-34fb-41a9-867c-a8639f9ec514.vsidx
